In [1]:
import tarfile
import numpy as np 
import pandas as pd

In [26]:
# creation of df from datasets in 'vwikispeedia_paths-and-graph'

folder = "/home/Project/wikispeedia_paths-and-graph/"
art_df = pd.read_csv(folder+"articles.tsv", sep="\t", skiprows=12, 
                     header=None, names=['article'])
art_df.head()

                            article
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in
1                        %C3%85land
2                %C3%89douard_Manet
3                         %C3%89ire
4        %C3%93engus_I_of_the_Picts

In [21]:
cat_df = pd.read_csv(folder+"categories.tsv", sep="\t", skiprows=12, 
                    header=None, names=['article', 'category'])
cat_df.head()

,article,category
0,%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,subject.History.British_History.British_Histor...
1,%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,subject.People.Historical_figures
2,%C3%85land,subject.Countries
3,%C3%85land,subject.Geography.European_Geography.European_...
4,%C3%89douard_Manet,subject.People.Artists

In [33]:
paths_finished_df = pd.read_csv(folder+"paths_finished.tsv", sep='\t', 
                    skiprows=15, header=None, 
                    names=['hashedIpAddress', 'timestamp', 'durationInSec', 'path', 'rating'])
paths_finished_df.head()

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0

In [35]:
paths_unfinished_df = pd.read_csv(folder+"paths_unfinished.tsv", sep='\t', 
                      skiprows=16, header=None,
                      names=['hashedIpAddress', 'timestamp', 'durationInSec', 'path', 'target', 'type'])
paths_unfinished_df.head()

,hashedIpAddress,timestamp,durationInSec,path,target,type
0,2426091a53125110,1297054935,1804,Obi-Wan_Kenobi,Microsoft,timeout
1,26141fd878806294,1297055651,1805,Julius_Caesar,Caracas,timeout
2,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great,First_Crusade,timeout
3,53a53bc244e08a6a,1297094761,49,Paraguay,Mount_St._Helens,restart
4,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia,Mount_St._Helens,timeout

In [25]:
links_df = pd.read_csv(folder+"links.tsv", sep='\t', skiprows=12, header=None,
                                names=['linkSource', 'linkTarget'])
links_df.head()

                         linkSource      linkTarget
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in            Bede
1  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Columba
2  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in  D%C3%A1l_Riata
3  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in   Great_Britain
4  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Ireland

Read all HTLM files in the directory

Code for extracting the clickthrough rate of hyperlinks

In [30]:
# Creation of the list of paths
# For each path, creates a list with the clicked links

clicked_links = []
for x in paths_finished_df['path']:
    path = (x.split(';')) # list of clicked links in each path
    clicked_links.append(path)

clicked_links[:10]

[['14th_century',
  '15th_century',
  '16th_century',
  'Pacific_Ocean',
  'Atlantic_Ocean',
  'Accra',
  'Africa',
  'Atlantic_slave_trade',
  'African_slave_trade'],
 ['14th_century',
  'Europe',
  'Africa',
  'Atlantic_slave_trade',
  'African_slave_trade'],
 ['14th_century',
  'Niger',
  'Nigeria',
  'British_Empire',
  'Slavery',
  'Africa',
  'Atlantic_slave_trade',
  'African_slave_trade'],
 ['14th_century', 'Renaissance', 'Ancient_Greece', 'Greece'],
 ['14th_century',
  'Italy',
  'Roman_Catholic_Church',
  'HIV',
  'Ronald_Reagan',
  'President_of_the_United_States',
  'John_F._Kennedy'],
 ['14th_century',
  'Europe',
  'North_America',
  'United_States',
  'President_of_the_United_States',
  'John_F._Kennedy'],
 ['14th_century', 'China', 'Gunpowder', 'Fire'],
 ['14th_century', 'Time', 'Isaac_Newton', 'Light', 'Color', 'Rainbow'],
 ['14th_century', 'Time', 'Light', 'Rainbow'],
 ['14th_century',
  '15th_century',
  'Plato',
  'Nature',
  'Ultraviolet',
  'Color',
  'Rainbow']]

In [50]:
# Creation of the dataframe containing the hyperlinks and their click-through rates

links_name=[] # list of all articles' names
links_freq=[]

for article in art_df['article']:
    links_name.append(article)
    count=0
    for i in range(len(clicked_links)):
        if article in clicked_links[i]:
            count+=1 
    links_freq.append(count)

links_name = pd.Series(links_name)
links_freq = pd.Series(links_freq)
links_freq_df = pd.concat([links_name, links_freq], axis=1, 
                          names=['link', 'clickthrough_rate'])
links_freq_df.columns = ['link', 'clickthrough_rate']
links_freq_df.head(10)

                               link  clickthrough_rate
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in                  0
1                        %C3%85land                  2
2                %C3%89douard_Manet                  2
3                         %C3%89ire                  3
4        %C3%93engus_I_of_the_Picts                  0
5    %E2%82%AC2_commemorative_coins                  1
6                      10th_century                109
7                      11th_century                115
8                      12th_century                137
9                      13th_century                128

In [37]:
# Extract the positioning of the hyperlinks in the article text

from bs4 import BeautifulSoup

URL = '/home/Project/wpcd/wp/a/A_cappella.htm'

f=open(URL, 'r')
soup = BeautifulSoup(f, 'lxml')

paragraphs = soup.find_all('p') # each paragraph is located by the tag 'p'
print(f'The total number of paragraphs is {len(paragraphs)}.')

The total number of paragraphs is 24.

In [ ]:
# Andres' code

#for i, p in enumerate(soup.find_all("p")):
#    as_in_p = p.find_all("a")
#    for a in as_in_p:
#        print(f"{i+1:<10} {a.text:<20} {a.get('href')}")

In [45]:
# HTML tag for hyperlinks 
# This is the dataframe of the hyperlinks contained in an article, with the 
# number of paragraph they show up in and its relative position in the article

links=[] # list of links' titles and paragraphs
i=0

for p in paragraphs:
    i+=1
    all_links = p.find_all('a') # each hyperlink is located by the tag 'a'
    for link in all_links:
        if 'href' in link.attrs: # href is the attribute indicating the link's destination
            link_title = link.text
            link_paragraph = i
            links.append([link_title, link_paragraph])

link_positioning_df = pd.DataFrame(links, columns=['link', '#_paragraph'])
P = len(paragraphs)
link_positioning_df['positioning'] = round(link_positioning_df['#_paragraph']/P, 2)
link_positioning_df.head()

              link  #_paragraph  positioning
0            music            1         0.04
1     instrumental            1         0.04
2      Renaissance            1         0.04
3  Gregorian chant            3         0.12
4      Renaissance            3         0.12

In [39]:
# Find hyperlinks in images' caption

URL = '/home/Project/wpcd/wp/a/Aachen.htm'
f2 = open(URL, 'r')
soup2 = BeautifulSoup(f2, 'lxml')

In an HTML file the images can be found either under **tables** or **div** tags

In [52]:
tables = soup2.find_all('table')
print(f'The total number of tables is {len(tables)}.')

The total number of tables is 2.

In [41]:
img = soup2.find_all('img')
print(f'The total number of images is {len(img)}.')

The total number of images is 24.

In [51]:
# Images under table tags
# Dataframe of hyperlinks in tables' captions

links = []

for table in tables: # ???
    if (table.img):
        all_links = table.find_all('a')
        for link in all_links:
            if 'class' not in link.attrs:
                link_title = link.text
                links.append(link_title)
        
links_in_table_df = pd.DataFrame(links, columns=['link_in_table'])
links_in_table_df

  link_in_table
0       Country
1       Germany

In [54]:
# images under div tags
# dataframe of hyperlinks in tables' captions

div = soup2.find_all('div')

links=[]

for d in div:
    if (d.find('a', class_="internal")):
        if (d.find('img', class_='thumbimage')):
            caption = d.find('div', class_="thumbcaption")
            if (caption.find('a')):
                all_links = caption.find_all('a')
                for link in all_links:
                    if 'class' not in link.attrs:
                        link_title = link.text
                        links.append(link_title)
                            
links_in_image_df = pd.DataFrame(links, columns=['link_in_image']).drop_duplicates() 
links_in_image_df

  link_in_image
0        German
1         Dutch
2       Belgian
6  20th century

In [55]:
# when we'll have all the articles' dataframes we will merge them by link and get the average of their positioning
# we will sort the articles based on their clickthrough rate, ascending=False
# we will check if there is a correlation between the positioning and clickthrough rate

In [56]:
# when we'll have all the articles' dataframes we will merge them by link and get the average of their positioning
# we will sort the articles based on their clickthrough rate, ascending=False
# we will check if there is a correlation between the positioning and clickthrough rate

In [58]:
# assumptions: 
# we don't know for the hyperlinks that show up both in the article text and in the image caption, 
# which the player actually clicked (for the hyperlinks which show up multiple times in the article) ...

Browse html link in a directory

In [60]:
import os, sys

# Open a file
path = "/home/Project/wpcd/wp/" # to adapt
directories = os.listdir( path )

html_list = []
for dir in directories:
    local_path = path + dir
    local_dir = os.listdir( local_path )
    for link in local_dir:
        html_list.append(link)
        
html_list[:5]

['Xanadu_House.htm',
 'X.gif',
 'X_Window_core_protocol.htm',
 'X-Men__The_Last_Stand.htm',
 'Xenon.htm']